<mat-toolbar color="primary">
<mat-card-actions>
  <button mat-raised-button (click)="this.usuarioLogado.logout()" color="primary">Logout</button>
</mat-card-actions>
</mat-toolbar>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <app-minhas-tarefas></app-minhas-tarefas>
    <app-todas-tarefas></app-todas-tarefas>
  </mat-step>

  <mat-step>
    <app-tarefas-concluidas></app-tarefas-concluidas>
  </mat-step>

  <mat-step>
    <app-tarefas-pendentes></app-tarefas-pendentes>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
