<div class="example-label"><h2>Tarefas Pendentes:</h2></div>
<div class="example-button-row" (click)="recuperarTarefasPendentes()">
  <button mat-mini-fab color="primary"><mat-icon>refresh</mat-icon></button>
</div>
<table mat-table [dataSource]="todasTarefasPendentes" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="nomeTarefa">
    <th mat-header-cell *matHeaderCellDef> Nome tarefa </th>
    <td mat-cell *matCellDef="let tarefas"> {{tarefas.nomeTarefa}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dataTarefa">
    <th mat-header-cell *matHeaderCellDef> Data tarefa </th>
    <td mat-cell *matCellDef="let tarefas"> {{tarefas.dataTarefa | date: 'dd/MM/yyyy - HH:mm'}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let tarefas"> {{tarefas.descricao}} </td>
  </ng-container>

  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef> Responsavel </th>
    <td mat-cell *matCellDef="let tarefas"> {{tarefas.usuario.nomeUsuario}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let tarefas"> Pendente </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
