/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: silver}

.icon-concluir {
  color: darkgreen;
}

.icon-pendente {
  color: #ffda0a
}

.icon-denuncia {
  color: #ff1546;
}
